<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Proyek</title>
</head>
<body>
    <div>
        {% for proyek in proyek_list %}
            <div>
                <h2>Informasi Proyek</h2>
                <div>
                    <div style="margin-left: 20px;">
                        <p>• <strong>Nama Proyek:</strong> {{ proyek.nama_proyek }}</p>
                        <p>• <strong>Nama Paket Pekerjaan:</strong> {{ proyek.nama_paket_pekerjaan }}</p>
                        <p>• <strong>Sub Bidang Pekerjaan:</strong> {{ proyek.sub_bidang_pekerjaan }}</p>
                        <p>• <strong>Peruntukan Bangunan:</strong> {{ proyek.peruntukan_bangunan }}</p>
                        <p>• <strong>Total Volume/Area:</strong> {{ proyek.total_volume_atau_area }}</p>
                        <p>• <strong>Lokasi Proyek:</strong> {{ proyek.lokasi_proyek }}</p>
                    </div>
                </div>
            </div>

            <div>
                <h2>Tanggal</h2>
                <div style="margin-left: 20px;">
                    <p>• <strong>Tanggal Mulai:</strong> {{ proyek.tanggal_mulai }}</p>
                    <p>• <strong>Target Selesai:</strong> {{ proyek.target_selesai }}</p>
                </div>
            </div>

            <div>
                <h2>Informasi Client</h2>
                <div style="margin-left: 20px;">
                    <p>• <strong>Nama Client:</strong> {{ proyek.nama_client }}</p>
                </div>
            </div>

            <div>
                <h2>Kontrak</h2>
                <div style="margin-left: 20px;">
                    <p>• <strong>No Kontrak:</strong> {{ proyek.no_kontrak }}</p>
                    <p>• <strong>Nilai Kontrak:</strong> {{ proyek.nilai_kontrak }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
